.drink-recipe {
  color: white;
  display: flex;
  height: 500px;
  text-align: justify;
  align-content: space-between;
}

.drink-recipe-image {
  border-radius: 5%;
  height: 30%;
  margin: 5% 5% 5% 10%;
}

.recipe-details {
  margin-left: 5%;
  width: 70%;
}

.image-wrapper {
  width: 30%;
}

.error-message {
  color: white;
  padding-bottom: 50%;
  padding-left: 5%;
}
